@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #065482;
  --color-secondary: #f89746;
  --color-accent: #00cee8;
}

* {
  font-family: "Outfit", sans-serif;
}
